---
title: Inferentia
description: Because the inference makes the differene
pricing_table:
  - name: Basic
    color: "#8e8e8e"
    features:
      - text: $25 per month
        highlight: true
      - text: Up to 5 users
        highlight: false
      - text: Basic lead scoring
        highlight: false
      - text: CRM
        highlight: false
      - text: Basic reporting
        highlight: false
      - text: Sales map
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Get started
  - name: Pro
    color: "#4a4a4a"
    features:
      - text: $99 per month
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: Up to 25 users
        highlight: false
      - text: Advanced lead scoring
        highlight: false
      - text: Pipeline management
        highlight: false
      - text: Advanced reporting
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started
  - name: Professional
    color: "#000000"
    features:
      - text: $299 per month
        highlight: true
      - text: Everything in Basic and Pro
        highlight: false
      - text: Up to 100 users
        highlight: false
      - text: Campaign builder
        highlight: false
      - text: Machine learning
        highlight: false
      - text: Calendar
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=professional
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express.
  - question: Can I change my plan at a later time?
    answer: Yes, you can upgrade and downgrade your plan at anytime.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">john@business.com</a>.
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">Bacause the <strong>inference</strong> makes the <strong>difference</strong></h1>
		<p class="subtext editable">Track and optimize your sales team in real time.</p>
		<div class="cta button alt"><a href="{{ site.baseurl }}/contact/">Get Started Free</a></div>
		<div>
			<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
		</div>
	</div>
</section>

<div class="content">
	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can we <strong>double</strong> our sales revenue?</h2>
				<p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources. </p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>keep track</strong> of my sales team?</h2>
				<p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>

	<section>
		<div class="container flex">
			<div class="text editable">
				<h2>How can I <strong>forecast</strong> the next 90 days?</h2>
				<p>Hydra learns your business. By analyzing your sales data, Hydra optimizes your sales process and show you where you should be spending your resources.</p>
			</div>
			<div class="image">
				<img src="{{ site.baseurl }}/images/dashboard.png" alt="Screenshot" class="screenshot editable" />
			</div>
		</div>
	</section>
<section class="pricing">
<div class="container flex">	
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
	</div>
</section>	
	
<section class="about">
<div class="container flex">
			<div class="editable">
				<h2><strong>Our team</strong></h2>
				<p>
  We've built an amazing, fantastic team of developers, marketers, designers and
  sales people.				</p>
			</div>
		





<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>
	</div>
</section>
	<section class="testimonial">
		<div class="container flex">
			<div class="testimonial-block">
				<div class="square-image"><img src="https://source.unsplash.com/6anudmpILw4/600x400" alt="Jim James" class="editable"></div>
				<blockquote>
					<p class="editable">Hydra has shaped the business we have today. We have a repeatable sales process and a strategy to scale our team. I recommend Hydra to any business looking to improve their sales.</p>
					<p class="editable author">Jim James - CEO of Global Corp.</p>
				</blockquote>
			</div>
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Improve</strong> your sales process today</h2>
		<div class="button alt"><a href="#">Get Started Free</a></div>
	</section>
</div>
